@model PatientChecking.Views.ViewModels.PatientDetailViewModel
@using PatientChecking.Helpers
@using PatientChecking.ServiceModels
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Patient";
    ViewData["Page"] = "Patient information";
}
@section css {
    <link href="@Url.Content("~/css/PatientDetail.css")" rel="stylesheet" type="text/css" />
    <script src="~/js/PatientDetail.js"></script>
}
@{
    if (!string.IsNullOrEmpty((string)TempData["Message"]))
    {
        var message = (ViewMessage)JsonConvert.DeserializeObject<ViewMessage>((string)TempData["Message"]);
        if (message != null)
        {
            @Html.MessageAlert(message)
        }
    }
}
<div class="detail-patient-container">
    <div class="search-area">
        <i class="fas fa-search search-icon"></i>
        <input class="form-control"
               type="text"
               placeholder="ID, name, dob, gender, phone, email"
               aria-label="Search"
               id="search-input" />
        <i class="fas fa-times delete-icon"></i>
    </div>
    <div class="search-result-container">
        <ul class="ps-0 mb-0">
            <li>
                <a href="#1">
                    <div class="column-avatar">
                        <img src="~/Image/avatar.jpg" alt="Avatar" class="icon-patient-avatar" />
                    </div>
                    <div class="column-name">
                        <span>0001 - Do Thanh Long</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#2">
                    <div class="column-avatar">
                        <img src="~/Image/avatar.jpg" alt="Avatar" class="icon-patient-avatar" />
                    </div>
                    <div class="column-name">
                        <span>0002 - Tran Van Duc</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="edit-patient-info-container">
        <div class="patient-box-info">
            <div>
                <div class="patient-image-box">
                    <img src="@(string.IsNullOrEmpty(Model.AvatarLink) ? "/Image/no-avatar.jpg" : Model.AvatarLink)" class="patient-avatar" />
                    <div id="add-photo">
                        <i class="fas fa-camera-retro"></i>
                        <span>Upload patient photo</span>
                    </div>
                </div>
                <div class="patient-name-detail">
                    <span>@Model.FullName</span>
                    <span>ID. @(string.IsNullOrEmpty(Model.PatientIdentifier) ? "" : Model.PatientIdentifier.Split(".")[1] )</span>
                </div>
            </div>
            <div class="section-gap">
                <span>Personal</span>
                <hr />
            </div>
            <div class="option-detail">
                <a href="#">Personal detail</a>
                <a href="#">Contact detail</a>
            </div>
        </div>

        <div id="myModal" class="modal">
            <div class="modal-content-container">
                <div class="modal-header">
                    <p>Upload Patient Image</p>
                    <span class="close">&times;</span>
                </div>
                <div class="upload-image-container">
                    @using (Html.BeginForm("UploadImage", "Patient", FormMethod.Post, new { enctype = "multipart/form-data", @class = "upload-form" }))
                    {
                        <img src="@(string.IsNullOrEmpty(Model.AvatarLink) ? "/Image/no-avatar.jpg" : Model.AvatarLink)" alt="Patient-image" id="uploaded-image" class="w-75 p-3 d-flex justify-content-center" />
                        <input type="file" name="formFile" id="file" class="form-control" onchange="readURL(this)" accept="image/*" required />
                        <input type="hidden" name="PatientId" value="@Model.PatientId">
                        <input type="submit" value="Upload" class="submit form-control" id="uploadButton" />
                    }
                </div>
            </div>
        </div>

        <div class="patient-box-detail">
            @using (Html.BeginForm("Update", "Patient", FormMethod.Post))
            {
                <div class="detail-header-container">
                    <span class="h5">Personal detail</span>
                    <a class="btn btn-primary" role="button" id="btn-edit">Edit</a>
                    <div class="edit-mode">
                        <a class="btn btn-primary" role="button" id="btn-cancel" href="@Url.Action("Detail", "Patient", new {patientId = Model.PatientId})">Cancel</a>
                        <button class="btn btn-primary" type="submit" id="btn-save">Save</button>
                    </div>
                </div>
                <div class="section-gap">
                    <span>Basic info</span>
                    <hr />
                </div>
                <div class="grid wide">
                    <div class="row mb-3">
                        <div class="col l-3">
                            <div class="item">
                                <div class="form-group">
                                    <label for="firstName">First name</label>
                                    <span class="text-error">*</span>
                                    <input type="hidden" name="PatientId" value="@Model.PatientId">
                                    <input type="text" class="form-control" name="FirstName" value="@Model.FirstName" required>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="item">
                                <div class="form-group">
                                    <label for="lastName">Last name</label>
                                    <span class="text-error">*</span>
                                    <input type="text" class="form-control" name="LastName" value="@Model.LastName" required>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="item">
                                <div class="form-group">
                                    <label for="middleName">Middle name</label>
                                    <input type="text" class="form-control" name="MiddleName" value="@Model.MiddleName">
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="item">
                                <div class="form-group">
                                    <label for="fullName">Full name</label>
                                    <input id="fullNameInput" type="text" class="form-control" value="@Model.FullName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col l-3">
                            <div class="item">
                                <div class="form-group">
                                    <label for="nationality">Nationality</label>
                                    <span class="text-error">*</span>
                                    <select class="form-select" id="nationalitySelect" name="Nationality" required>
                                        <option value="Vietnamese">Vietnamese</option>
                                        <option value="American">American</option>
                                        <option value="British">British</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="item">
                                <div class="form-group">
                                    <label for="DoB">Date of birth</label>
                                    <span class="text-error">*</span>
                                    <input type="date" class="form-control" name="DoB" value=@Model.DoB required max='@DateTime.Now.ToString("yyyy-MM-dd")'>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="item">
                                <div class="form-group">
                                    <label for="maritalStatus">Marital status</label>
                                    <span class="text-error">*</span>
                                    <select class="form-select" id="maritalSelect" name="MaritalStatus" required>
                                        <option value="0">Unmarried</option>
                                        <option value="1">Married</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="item">
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <span class="text-error">*</span>
                                    <select class="form-select" id="genderSelect" name="Gender" required>
                                        <option value="0">Male</option>
                                        <option value="1">Female</option>
                                        <option value="2">None</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col l-3">
                            <div class="item">
                                <div class="form-group">
                                    <label for="ethnic">Ethnic race</label>
                                    <select class="form-select" id="ethnicSelect" name="EthnicRace">
                                        <option value="None" selected>Please select</option>
                                        <option value="Kinh">Kinh</option>
                                        <option value="Hmong">Hmong</option>
                                        <option value="Tay">Tay</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="item">
                                <div class="form-group">
                                    <label for="homeTown">Home town</label>
                                    <div class="autocomplete">
                                        <input id="homeTown" type="text" name="HomeTown" class="form-control" value="@Model.HomeTown">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="item">
                                <div class="form-group">
                                    <label for="birthcity">Birthplace city</label>
                                    <div class="autocomplete">
                                        <input id="birthplace" type="text" name="BirthplaceCity" class="form-control" value="@Model.BirthplaceCity">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="item">
                                <div class="form-group">
                                    <label for="gender">Insurance No.</label>
                                    <input type="text" class="form-control" name="InsuranceNo" value="@Model.InsuranceNo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l-3">
                            <div class="item">
                                <div class="form-group">
                                    <label for="idCardNo">ID card No.</label>
                                    <input type="text" class="form-control" id="idCardNo" name="IdcardNo" value="@Model.IdcardNo">
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="item">
                                <div class="form-group">
                                    <label for="issuedDate">Issued date</label>
                                    <input type="date" class="form-control" id="issuedDate" name="IssuedDate" value=@Model.IssuedDate max='@DateTime.Now.ToString("yyyy-MM-dd")'>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="item">
                                <div class="form-group">
                                    <label for="issuedPlace">Issued place</label>
                                    <div class="autocomplete">
                                        <input class="form-control" type="text" id="issuedPlace" name="IssuedPlace" value="@Model.IssuedPlace">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    var nationality = '@Html.Raw(Model.Nationality)';
    var cityList = @Json.Serialize(Model.ProvinceCities);
    var emptyMode = '@Html.Raw(Model.PatientId)';

    $(document).ready(function () {
        var hometown = '@Html.Raw(Model.HomeTown)';
        var ethnic = '@Html.Raw(Model.EthnicRace)';
        var birthplace = '@Html.Raw(Model.BirthplaceCity)';
        var issuedplace = '@Html.Raw(Model.IssuedPlace)';

        if (emptyMode < 0) {
            $("#btn-edit").hide();
        }

        autocomplete(document.getElementById("homeTown"), cityList);
        autocomplete(document.getElementById("birthplace"), cityList);
        autocomplete(document.getElementById("issuedPlace"), cityList);

        jQuery.each(cityList, function (index, item) {
            var option = $('<option value="' + item + '"></option>');
            $('#issuedPlaceOptions').append(option);
        })

        $("#nationalitySelect option[value='" + nationality + "']").attr("selected", "selected");
        $("#genderSelect option[value='" + @(Model.Gender) + "']").attr("selected", "selected");
        $("#maritalSelect option[value='" + @(Model.MaritalStatus) + "']").attr("selected", "selected");
        $("#ethnicSelect option[value='" + ethnic + "']").attr("selected", "selected");
        $(".patient-box-detail :input").prop("disabled", true);
    });

    $("#search-input").focus(function () {
        $(".search-result-container").css("display", "flex");
    });

    $(".search-result-container ul li a").click(function () {
        $(".search-result-container").css("display", "none");
    });

    $("#search-input").change(function () {
        var query = $(this).val();
    });

    $("#btn-edit").click(function () {
        $("#btn-edit").css("display", "none");
        $(".edit-mode").css("display", "flex");
        $(".patient-box-detail :input").prop("disabled", false);
        $("#fullNameInput").prop("disabled", true);

        if (nationality !== "Vietnamese") {
            $("#ethnicSelect").prop("disabled", true);
        }

        var idNumber = $("#idCardNo").val();

        if (idNumber === "") {
            $("#issuedDate").prop("disabled", true);
            $("#issuedPlace").prop("disabled", true);
        }
    });

    $("#btn-cancel").click(function () {
        $("#btn-edit").css("display", "inherit");
        $(".edit-mode").css("display", "none");
        $(".patient-box-detail :input").prop("disabled", true);
    });

    $("#nationalitySelect").change(function () {
        var option = $(this).val();
        console.log(option);
        if (option === "Vietnamese") {
            $("#ethnicSelect").prop("disabled", false);
        } else {
            $("#ethnicSelect").prop("disabled", true);
            $("#ethnicSelect").val("None");
        }
    });

    $("#homeTown").focusout(function (e) {
        var homeTownOption = $("#homeTown").val();
        if (!cityList.includes(homeTownOption)) {
            $("#homeTown").val("Other");
        }
        $(".autocomplete-items").hide();
    });

    $("#birthplace").focusout(function (e) {
        var birthplaceOption = $("#birthplace").val();
        if (!cityList.includes(birthplaceOption)) {
            $("#birthplace").val("Other");
        }
        $(".autocomplete-items").hide();
    });

    $("#issuedPlace").focusout(function (e) {
        var issuedPlaceOption = $("#issuedPlace").val();
        if (!cityList.includes(issuedPlaceOption)) {
            $("#issuedPlace").val("Other");
        }
        $(".autocomplete-items").hide();
    });

    $("#idCardNo").focusout(function () {
        var idValue = $(this).val();
        if (idValue !== "") {
            $("#issuedDate").prop("disabled", false);
            $("#issuedPlace").prop("disabled", false);
        } else {
            $("#issuedDate").val("");
            $("#issuedPlace").val("");
            $("#issuedDate").prop("disabled", true);
            $("#issuedPlace").prop("disabled", true);
        }
    });

    $(".patient-image-box").mouseenter(function () {
        $("#add-photo").css("display", "flex");
    });

    $(".patient-image-box").mouseleave(function () {
        $("#add-photo").css("display", "none");
    });

    $("#add-photo").click(function () {
        if (emptyMode > -1) {
            $("#myModal").css("display", "block");
        }
    });

    $(".close").click(function () {
        $("#myModal").css("display", "none");
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#uploaded-image')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#alert-message").fadeTo(3000, 500).slideUp(500, function () {
        $("#alert-message").slideUp(1000);
    });

</script>