@{
    ViewData["Title"] = "Patient";
    ViewData["Page"] = "List Patient";
}
@model dynamic
@section css {
    <link href="@Url.Content("~/css/PatientList.css")" rel="stylesheet" type="text/css" />
}

<div class="search-container">
    <div class="search-area">
        <input class="form-control"
               type="text"
               placeholder="Search"
               aria-label="Search" />
    </div>
    <div class="sort-area">
        <select id="sort-selection" class="form-select" style="line-height: 1.5">
            <option value="0">Sort By ID</option>
            <option value="1">Sort By Name</option>
            <option value="2">Sort By DoB</option>
        </select>
    </div>
</div>
<div class="list-patient-container">
    <div class="grid wide">
        @foreach (var item in Model.PagedResult.Items)
        {
            <div class="row">
                <div class="col l-4">
                    <div class="item patient-item1">
                        <div class="patient-img-box">
                            <img src="~/Image/no-avatar.jpg" alt="Avatar" style="height: 135px" />
                        </div>
                        <div class="patient-name">
                            <p style="font-weight: 600; font-size: 18px">@item.FullName</p>
                            <p>@item.PatientIdentifier</p>
                        </div>
                    </div>
                </div>
                <div class="col l-4">
                    <div class="item patient-item2">
                        <div>
                            <p style="font-weight: 700">DoB</p>
                            <p>@item.DoB</p>
                        </div>
                        <div>
                            <p style="font-weight: 700">Gender</p>
                            <p>@item.Gender</p>
                        </div>
                    </div>
                </div>
                <div class="col l-4">
                    <div class="item patient-item3">
                        <div>
                            <div class="contact-icon">
                                <i class="fas fa-phone" style="font-size: 16px"></i>
                            </div>
                            <p class="contact-info">@item.PhoneNumber</p>
                        </div>
                        <div>
                            <div class="contact-icon">
                                <i class="fas fa-envelope" style="font-size: 16px"></i>
                            </div>
                            <p class="contact-info">@item.Email</p>
                        </div>
                        <div>
                            <div class="contact-icon">
                                <i class="fas fa-map-marker-alt" style="font-size: 16px"></i>
                            </div>
                            <p class="contact-info">@item.Address</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="pagination-container">
    <select id="paging-selection" class="form-select">
        <option value="10">1-10</option>
        <option value="20">1-20</option>
        <option value="50">1-50</option>
    </select>
    <span class="total-row">of @Model.PagedResult.TotalCount</span>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        @{
            int pagingOption = Model.PagingRequest.PageSize;
            int sortOption = Model.PagingRequest.SortSelection;
            int currentPage = Model.PagingRequest.PageIndex;
            double total = (double)Model.PagedResult.TotalCount / pagingOption;
            int totalPage = ((int)Math.Ceiling((double)(Model.PagedResult.TotalCount / pagingOption)));
            if (totalPage > 5)
            {
                for (var i = 1; i <= 3; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("SortAndPaging", "Patient", new {SortOption = sortOption, PagingOption = pagingOption, currentPage = i})">@i</a>
                    </li>
                }
                <li class="page-item">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item @(totalPage == currentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("SortAndPaging", "Patient", new {SortOption = sortOption, PagingOption = pagingOption, currentPage = totalPage})">@totalPage</a>
                </li>
            }
            else
            {
                for (var i = 1; i <= totalPage; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("SortAndPaging", "Patient", new {SortOption = sortOption, PagingOption = pagingOption, currentPage = i})">@i</a>
                    </li>
                }
            }

        }
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>
<script>
    $(document).ready(function(){
        var pagingHistory = @Model.PagingRequest.PageSize;
        var sortHistory = @Model.PagingRequest.SortSelection;
        $("#paging-selection option[value='" + pagingHistory + "']").attr("selected", "selected");
        $("#sort-selection option[value='" + sortHistory + "']").attr("selected", "selected");
    });
    $('#sort-selection, #paging-selection').on('change', function (e) {
        var selectedSort = $('#sort-selection').children("option:selected").val();
        var selectedPaging = $('#paging-selection').children("option:selected").val();
        var currentPage = @Model.PagingRequest.PageIndex;
        var url = '@Html.Raw(@Url.Action("SortAndPaging", "Patient", new {SortOption = "sortOption", PagingOption = "pagingOption", CurrentPage = "currentPage"}))';
        url = url.replace("sortOption", selectedSort).replace("pagingOption", selectedPaging).replace("currentPage", currentPage);
        window.location.href = url;
    });
</script>
