<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] | PatientChecking</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("css", false)
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <div class="main-container">
        <nav class="sidebar show">
            <div class="img-box">
                <img src="~/Image/logo.png" alt="" />
            </div>
            <ul>
                <li class="@((ViewBag.Action == "Home" && @ViewBag.Controller == "Dashboard") ? "active" : "")">
                    <a asp-controller="Dashboard" asp-action="Home">
                        <i class="fas fa-home" style="margin: 10px"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a class="patient-btn">
                        <i class="fas fa-hospital-user" style="margin: 10px"></i>
                        Patients
                        <span class="fas fa-caret-down first" ></span>
                    </a>
                    <ul class="@(@ViewBag.Controller == "Patient" ? "patient-show show" : "patient-show")" >
                        <li class="detail @((ViewBag.Action == "Index" && @ViewBag.Controller == "Patient") ? "active" : "")">
                            <a asp-controller="Patient" asp-action="Index">
                                <i class="fas fa-list" style="margin: 10px"></i>
                                List Information
                            </a>
                        </li>
                        <li class="detail @((ViewBag.Action == "Detail" && @ViewBag.Controller == "Patient") ? "active" : "")">
                            <a asp-controller="Patient" asp-action="Detail">
                                <i class="fas fa-info-circle" style="margin: 10px"></i>
                                Detail Information
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="@((ViewBag.Action == "Index" && @ViewBag.Controller == "Appointment") ? "active" : "")">
                    <a asp-controller="Appointment" asp-action="Index">
                        <i class="far fa-calendar-alt" style="margin: 10px"></i>
                        Appointments
                    </a>
                </li>
            </ul>
        </nav>
        <div class="content">
            <div class="header">
                <div class="page-name"><i class="fas fa-bars"></i>@ViewData["Page"]</div>
                <div><img src="~/Image/avatar.jpg" alt="Avatar" class="admin-avatar" /></div>
                <div>Hi, Administrator</div>
            </div>
            <hr style="margin-top: 0px" />
            <div class="main-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <script>
        $(".patient-btn").click(function () {
            $("nav ul .patient-show").toggleClass("show");
            $("nav ul .first").toggleClass("rotate");
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
